body, html {
    margin: 0;
    height: 100%;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#chatlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: crimson;
}

#chat {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: hotpink;
}

#chatlist-top {
    flex: 3;
    background-color: aquamarine;
}

#chatlist-body {
    flex: 18;
    background-color: blueviolet;
}

#chatlist-bottom {
    flex: 2;
    background-color: beige;
}

#chat-top {
    flex: 3;
    background-color: chocolate;
}

#chat-body {
    flex: 18;
    background-color: cornflowerblue;
}

#chat-bottom {
    flex: 2;
    background-color: gold;
}


.message.sent {
    background: #000000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 15px;
    margin: 5px 0;
    align-self: flex-end;
    max-width: 60%;
    word-break: break-word;
    display: block;
}

#addcontact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

#chat-logo {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 1450px;
    height: 100px;
    margin-top: 10px;

}

#message_input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 18px
}