body, html {
    margin: 0;
    height: 100%;
    
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#chatlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 5px solid black;

}

#chat {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255, 0, 0);
}

#chatlist-top {
    flex: 3;
    background-color: aquamarine;
}

#chatlist-body {
    flex: 18;
    background-color: blueviolet;
}

#chatlist-bottom {
    flex: 2;
    background-color: beige;
}

#chat-top {
    flex: 3;
    background-color: chocolate;
}

#chat-body {
    flex: 18;
    background-color: cornflowerblue;
}

#chat-bottom {
    flex: 2;
    background-color: gold;
}