body {
    background-color: #d2e2fc;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 450px;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    background: #ffffffcc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}
h1 {
    color: rgb(36, 144, 158);
    margin-top: 1px;
    margin-bottom: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5 px;
}
h2 {
    color: rgb(36, 144, 158);
    margin-top: 0;
}
label {
    color: rgb(0, 0, 0);
    display: block;
    margin: 0 auto 6px;
    text-align: left;
    width: 100%;
    max-width: 380px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    max-width: 380px;
    padding: 8px;
    margin: 0 auto 15px;
    display: block;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    max-width: 380px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgb(36, 144, 158);
    color: #fff;
    cursor: pointer;
}
p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.2;
}
